@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #000;
}

/* Set all parents to full height */
html, body,
.container,
.scroller {
  height: 100%;
}

.scroller section {
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
}


/* The nav is fixed on the left side  and we center it by translating it 50%
(we don't know it's height so we can't use the negative margin trick) */
.scroller > nav {
  position: fixed;
  z-index: 9999;
  left: 10px;
  top: 50%;
  width: 26px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroller > nav a {
  display: block;
  position: relative;
  z-index: 9999;
  color: transparent;
  width: 16px;
  height: 16px;
  outline: none;
  margin: 12px 0;
  border-radius: 50%;
  border: 1px solid #0B2C3C;
}

.no-touch .scroller > nav a:hover {
  background: rgba(255,255,255,0.6);
}

.scroller > nav a.active {
  background: #FF6666;
}

#home {
  background-color: #0B2C3C;
  background-color: white;
  position: relative;
}

#home img {
  display: block;
  margin: 0 auto;
  width: 280px;
}

#home h1 {
  font-size: 10em;
  color: rgba(11, 44, 60, .75);
  font-weight: 100;
  position: absolute;

  margin-top: 140px;
  text-align: center;
  width: 100%;
}

#home h3 a {
  position: absolute;
  text-decoration: none;
  margin: 0px;
  right: 6px;
  bottom: 6px;
  color: #FF6666;

  font-size: 2em;
  font-weight: 300;
}

#about { position: relative; padding-top: 120px; }
#about p {
  width: 100%;
  text-align: center;
  color: #444444;
  font-size: 2em;
  padding: 20px 140px 20px 140px;
  font-weight: 300;
}
#about p a {
  color: #FF6666;
}

section h2 {
  font-size: 4em;
  font-weight: 100;
  position: absolute;

  margin-top: 200px;
  text-align: center;
  width: 100%;
}

section a {
  text-decoration: none;
}

section i {
  position: absolute;
  color: #999;
  width: 100%;
  text-align: center;
  margin-top: 120px;
  padding: 0px;
}

.even { background-color: #F0F5F7; }
.even h2 a { color: #444444; }
.odd { background-color: #444444; }
.odd h2 a { color: #F0F5F7; }

/* SVG */
svg {
  font-size: 10px;
  font-weight: 100;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: rgba(11, 44, 60, .5);
  fill: rgba(255,255,255,0.25);
  shape-rendering: crispEdges;
}

